body {
    font-family: sans-serif;
    background-color: #eeeeee;
}

#app {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
button {
    padding: 8px;
    border-radius: 4px;
}

input {
    border: 1px solid #ccc;
}

button {
    border: none;
    color: #fff;
    background-color: #4f46e5;
    cursor: pointer;
}

li span {
    cursor: pointer;
}
